.jumbotron {
	background-color:#337ab7; 
	color: white;
	padding-top: 0;
	padding-bottom: 0;
}

a { text-decoration: none !important; }
a:link {color: #337ab7; text-decoration: none; }
a:active {color: #337ab7; text-decoration: none; }
a:visited {color: #337ab7; text-decoration: none; }
a:hover {color: #337ab7; text-decoration: none; }

.ng-cloak { display: none !important; } 