.jumbotron {
  background-color: #6f5499;
  color: white;
}

.unstyled-link a:active, 
.unstyled-link a:hover, 
.unstyled-link a:focus, 
.unstyled-link a:visited {
  text-decoration: none; 
  color: #6f5499; 
}
