.jumbotron {
  background-color: #6f5499;
  color: white;
}

a:active.unstyled-link, 
a:hover.unstyled-link, 
a:focus.unstyled-link, 
a:visited.unstyled-link {
  text-decoration: none; 
  color: #6f5499; 
}
