<footer class="site-footer">

  <div class="wrapper">

		<a href="https://www.facebook.com/ericnelson5" target="_blank">
		<img src="../assets/icons/facebook.svg" width="50" height="50">
		</a>
		<a href="https://twitter.com/EricNelson10" target="_blank">
		<img src="../assets/icons/twitter.svg" width="50" height="50">
		</a>
		<a href="https://www.linkedin.com/in/ericnelson1/" target="_blank">
		<img src="../assets/icons/linkedin.svg" width="50" height="50">
		</a>
		<a href="https://www.flickr.com/photos/ericnelson/albums" target="_blank">
		<img src="../assets/icons/flickr.svg" width="50" height="50">
		</a>
		<a href="https://github.com/ericnelson1" target="_blank">
		<img src="../assets/icons/github.svg" width="50" height="50">
		</a>
		<a href="https://ericnelson2.wordpress.com/" target="_blank">
		<img src="../assets/icons/wordpress.svg" width="50" height="50">
		</a>
		<a href="http://www.youtube.com" target="_blank">
		<img src="../assets/icons/youtube.svg" width="50" height="50">
		</a>
		<a href="" target="_blank">
		<img src="../assets/icons/skype.svg" width="50" height="50">
		</a>
		<a href="mailto:ericnelson6@gmail.com">
		<img src="../assets/icons/email.svg" width="50" height="50">
		</a>

		<p style="margin-top: 10px;">
      Eric Nelson is a software engineer in Minneapolis, MN.
    </p>

  </div>

</footer>
